.cardContainer {
  background: #E7F3FF;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

.cardRow {
  display: flex;
}

.cardRowMainInfo {
  gap: 20px;
}

.cardRowMainInfo > * {
  height: 24px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.employeeName {
  font-size: 18px;
  font-weight: 600;
  color: #2A358C;
}

.employeeINN {
  color: #84909B;
  background: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
}

.employeeContract {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px;
  color: #ffffff;
  background: #00AE5B;
  border-radius: 4px;
}

.employeeRole {
  color: #555;
}

.employeeDepartment {
  color: #777;
}

.extraInfo {
  padding: 0 15px;
}
