.searchBlock {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    padding: 14px 16px;
    color: #84909B;
    background: #E8F1F4;
    border: 1px solid #E0EBEF;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.hint {
    font-size: 13px;
    color: #B0BCC7;
}